body {
  color: #FFD97D;
  background-color: #3C1518;
  font-family: 'Oswald', sans-serif;

}

a, input, h1, h3, p, li {
  font-family: 'Oswald', sans-serif;


}

label {
  text-align: right;
}

.btn {
  color: #3C1518;
  background-color: #FFD97D;
  margin: 5px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.index-name, .listing {
  color: #FF9B42;
}

button {
  color: #3C1518;
  background-color: #FFD97D;
  margin: 5px;
}

li {
  list-style-type: none;
}
